html, body, p{
    margin: 0;
    padding: 0;
}
html{
    position: relative;
    height: 100%;
}
.app{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: white;
}